# Исследование надежности заемщиков

# Описание проекта

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

В качестве исходных данных имеем датасет со следующими параметрами:

- `children` - количество детей в семье
- `days_employed` — общий трудовой стаж в днях
- `dob_years` — возраст клиента в годах
- `education` — уровень образования клиента
- `education_id` — идентификатор уровня образования
- `family_status` — семейное положение
- `family_status_id` — идентификатор семейного положения
- `gender` — пол клиента
- `income_type` — тип занятости
- `debt` — имел ли задолженность по возврату кредитов
- `total_income` — ежемесячный доход
- `purpose` — цель получения кредита

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

Заказчик поставил задачу ответить на следующие вопросы:

1. Есть ли зависимость между количеством детей и возвратом кредита в срок?
2. Есть ли зависимость между семейным положением и возвратом кредита в срок?
3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
4. Как разные цели кредита влияют на его возврат в срок?
5. Необходимо привести возможные причины появления пропусков в исходных данных.
6. Необходимо объяснить, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*В проекте применяется Python и библиотека Pandas*

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

In [2]:
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('C:/Users/hk/Desktop/практика/датасеты/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Выдвенем **гипотезу**, что чем меньше у людей детей, тем меньше задолженностей по кредиту они имеют

In [23]:
#создаем сводную таблицу с данными о заемах относительно количетсва детей
target_children = data.pivot_table(index=['children'], values='debt', aggfunc = ['count', 'sum'])
target_children = target_children.reset_index()

In [24]:
#переименовываем с помощью словаря столбцы: после функции count считать общим количеством займов для 
#данной категории (наличие детей),после функции sum считать количество долгов для данной категории (наличие детей)
target_children = target_children.rename(columns={'count':'total','sum':'target_children'})

In [25]:
#далее найдем долю кредитов с задолженностью относительно общего числа кредитов для данной категории в процентах
target_children['ratio'] = round(100*(target_children['target_children'] / target_children['total']),3)

In [26]:
#отсортируем полученные значения долей по убыванию
target_children = target_children.sort_values(by='ratio', ascending=False)
display(target_children)

  children  total target_children  ratio
             debt            debt
4        4     41               4  9.756
2        2   2052             194  9.454
1        1   4808             444  9.235
3        3    330              27  8.182
0        0  14091            1063  7.544
5        5      9               0  0.000

 **Вывод:** По итогам проведенных расчетов можно сделать вывод, что присутствует зависимость не возврата кредита от количества детей в семье, однако она носит не явный характер. Так, например, люди у которых 3 или 5 детей, или вовсе нет детей процент не возврата кредита меньше, что может быть обусловлено ответсвенностью многодетных семей, и большей платежеспособностью семей без детей. Люди, у которых 1-2 ребенка, допускают практически одинаковую просрочку по кредитам. При этом семьи с 2 детьми, допускают такое чаще, что может быть подтверждением выдвенной ранее гипотезы. Семьи с 4 детьми допускают наибольший процент невозвратности кредитов, возможно, ввиду серьезной финансовой нагрузки на семью.
 Так же хотелось бы отметить, что 0% не возврата кредита для семей с 5 детьми не показателен, так как в исследуемом датафрейме есть данные только о 9 заемщиках с таким количеством детей

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Выдвенем **гипотезу**, что люди, состоящие в браке (гражданском) имеют меньше задолженностей по кредиту

In [27]:
#создаем сводную таблицу с данными о заемах относительно семейного положения
target_family = data.pivot_table(index=['family_status'], values='debt', aggfunc=['count', 'sum'])

In [28]:
##переименовываем с помощью словаря столбцы: после функции count считать 
#общим количеством займов для данной категории (семейное положение)
#после функции sum считать количество долгов для данной категории (семейное положение)
target_family = target_family.rename(columns={'count':'total','sum':'target_family'})

In [29]:
#далее найдем долю кредитов с задолженностью относительно общего числа кредитов 
#для данной категории (семейное положение) в процентах
target_family['ratio'] = round(100*(target_family['target_family'] / target_family['total']),3)

In [30]:
#отсортируем по убыванию 
target_family = target_family.sort_values(by='ratio', ascending=False)
display(target_family)

                       total target_family  ratio
                        debt          debt
family_status
Не женат / не замужем   2796           273  9.764
гражданский брак        4134           385  9.313
женат / замужем        12261           927  7.561
в разводе               1189            84  7.065
вдовец / вдова           951            63  6.625

**Вывод:** 
1. По результатам анализа, полученных при расчетах, можно сделать вывод о том, что люди, состоящие в гражданском браке или вовсе не в браке имеют худшие показатели по возратности кредитов. Это может быть обусловлено рядом следующих факторов: молодой возраст, не постоянная работа, наличие детей и тд. 
2. Люди не состоящие в браке, но имеющие такой опыт (в разводе, вдове/вдова) имеют наилучшие показатели по возратности кредитов. Это может быть обусловлено тем, что к настоящему времени люди данной категории уже имеют постоянную работу и стабильный доход, а также чувство ответственности
3. Люди, состоящие в браке имеют средние показатели по невозратности кредита (не плохие, но и не хорошие), что также может быть обусловлено финансовыми трудностями связанные с наличием детей и необходимостью их обеспечивать
4. Гипотеза, о том, что люди состоящие в браке (гражданском браке) имеют меньше задолженностей по кредиту подвердилась, только относительно людей не имеющих такой опыт (не женат/не замужем). 
5. Люди никогда не состоявшие в официальном браке относительно людей, имеющих такой опыт, имеют больше вероятности невозвратности долгов по кредиту

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Выдвенем **гипотезу**, что более состоятельные люди (имеющие заработок выше 200000) имеют меньше задолженностей по кредиту

In [31]:
#создадим сводную таблицу с помощью groupby, в которой создадим столбец count с общим количеством
#займов для данной категории (заработок) и столбец sum с количеством задолженностей для данной категории
target_salary_group = data.groupby(['total_income_category']).agg({'debt' : ['count', 'sum']})

In [32]:
#для удобства чтения кода и понимания, какие значения указаны в таблице переименуем
#столбец, полученный с помощью метода count в total, а метода sum в target_salary
#с использованием функции rename()
target_salary_group = target_salary_group.rename(columns={'count' : 'total', 'sum' : 'target_salary'})

In [33]:
##далее найдем долю кредитов с задолженностью относительно общего числа кредитов 
#для данной категории (заработок) в процентах
target_salary_group['ratio'] = round(100*(target_salary_group['debt', 'target_salary'] / target_salary_group['debt','total']),3)

In [34]:
##отсортируем по убыванию 
target_salary_group = target_salary_group.sort_values(by='ratio', ascending=False)
display(target_salary_group)

                        debt                ratio
                       total target_salary
total_income_category
E                         22             2  9.091
C                      15921          1353  8.498
A                         25             2  8.000
B                       5014           354  7.060
D                        349            21  6.017

**Вывод:** 
1. Самая высокая возвратность у людей с доходом от 30 до 50 тысяч. Это может быть по причине, что люди не хотят штрафов и пени, так как их ежемесячный доход может не покрыть их. 
2. Люди с доходом от 200 до 1000 тысяч также имеют низкую долю просрочки по кредиту. Думаю ввиду хорошего дохода и ответственности.
3. Люди с доходом от 50 до 200 имеют высокую вероятность, относительно остальных, не вернуть кредит. Возможно, это объясняется тем, что это основная масса людей, которые имеют семьи и у которых не один кредит на руках. 
4. И в заключении, люди, с самым низким доходом имеют наивысшую вероятность не вернуть кредит. В этом случае выдвинутая в начале гипотеза полностью подтверждается. 
5. Так же хотелось бы отметить, что большой процент не возврата кредита для людей с большим заработком (свыше миллиона руб) не показателен, так как в исследуемом датафрейме есть данные только о 2 заемщиках с таким доходом. И это же замечание справделиво для людей  с самым низким доходом. То ли это обусловлено не заинтересованностью людей с очень маленьким доходом и с очень большим доходом в кредите, то ли не достаточностью данных в представленном датафрейме.

В исследуемом датафрейме присутствуют две категории граждан (с заработной платой от 30 до 50 тыс и от 50 до 200 тыс) сильно превосходящие по объему остальные категории. Поэтому влияние заработной платы на долю невыплат по кредиту справедливее оценивать только по этим двум категориям.
    - Люди с заработком от 30 до 50 тыс имеют меньшую вероятность по невыплате долга. Это может быть обусловлено не желанием выплачитвать штрафы и пени, так как их ежемесячный доход не способен их покрыть.
    - Люди с заработком от 50 до 200 тыс имеют большую вероятность по невыплате долга. Это может быть обусловлено тем, что это люди имеющие семьи (в частности с детьми) и вероятно не один кредит.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Выдвенем **гипотезу**, что кредиты нацеленные на создание семьи возвращаются чаще, чем потребительские

In [35]:
#создадим сводную таблицу с помощью groupby, в которой создадим столбец count с общим количеством
#займов для данной категории (цели кредитов) и столбец sum с количеством задолженностей для данной категории
target_purpose_group = data.groupby(['purpose_category']).agg({'debt' : ['count', 'sum']})

In [36]:
#для удобства чтения кода и понимания, какие значения указаны в таблице переименуем
#столбец, полученный с помощью метода count в total, а метода sum в target_salary
#с использованием функции rename()
target_purpose_group = target_purpose_group.rename(columns={'count' : 'total', 'sum' : 'target_purpose'})

In [37]:
##далее найдем долю кредитов с задолженностью относительно общего числа кредитов 
#для данной категории (заработок) в процентах
target_purpose_group['ratio'] = round(100*(target_purpose_group['debt', 'target_purpose'] / 
                                           target_purpose_group['debt','total']),3)

In [38]:
##отсортируем по убыванию 
target_purpose_group = target_purpose_group.sort_values(by='ratio', ascending=False)
display(target_purpose_group)

                           debt                 ratio
                          total target_purpose
purpose_category
операции с автомобилем     4279            400  9.348
получение образования      3988            369  9.253
проведение свадьбы         2313            183  7.912
операции с недвижимостью  10751            780  7.255

**Вывод:** 
1. В случае с людьми, которые стремятся к созданию семьи или приобретению своей жил площади, вероятность возврата кредита заметно выше, что является подтверждением выдвинутой гипотезы.
2. Люди, взявшие потребительский кредит более склонны к его не возврату. Это может быть обусловлено величиной кредита (она заметно выше стоимости самой вещи).
3. Если говорить о операциях с автомобилем, то можно предположить, что клиент не всегда видит дополнительные расходы на содержание, что увеличивает рискии и вероятность просрочить кредит. А кредиты на образование могут брать люди, которые не очень крепко стоят на своих ногах в финансовом плане.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в исходных данных могут быть обусловлены как человеческим, так и технологическим фактором (копирование данных, их перезапись). Человеческий фактор может быть обусловлен тем, что человек не захотел предоставлять запрашиваемые данные. Так же стоит отметить, что наличие пропусков в одном столбце приводит к наличию пропусков в другом.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнять пропуски в количественных переменных медианными значениями правильнее, потому что они больше отражают в выборку в целом, и в отличии от сердних значений, не зависят от "шумов" и "выбросов" (которые могут быть обусловлены разной категорией исследуемых даных)

### Шаг 4: общий вывод.

 От Заказчика поступила задача, разобраться влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. В качестве исходных данных были получены данные о платежеспособности клиентов.
    
<u>Предобработка данных</u>
   
 - На этапе предобратки данных были выявлены пропуски в колонках с данными об общем трудовом стаже в днях и в колонке с данными об ежемесячных доходах клиента. Такие пропуски могут свидетельствовать о нежелании клиентов банка предоставлять такого рода информацию. При проведении исследования такие пропуски были заменены медианными значениями, в зависимости от типа занятости.
    
 - Не маловажный факт, что в данных присутствуют аномальные значения, например у некоторых граждан трудовой стаж составляет более 1000 лет, а других - "-1" или "20" детей. Так как влияние трудового стажа не оцанивалось в данной банком задаче, аномальные значения в этой колонке скорректированы не были. Строки, в которых у граждан "-1" или "20" детей из исходных данных были удалены, так как они будут влиять на проверку гипотез о влиянии количества детей на кредитоспособность.
    
 - При обработке данных было также обнаружено, что количественные переменные в некоторых колонках имеют "объектовый" тип данных, что мешает их правильной обработке. С помощью функций Питона такие "строки" были заменены на целочисленные данные.
    
 - В представленных на анализ данных помимо всего прочего были обнаружены дупликаты, возникновение которых можно скорее объяснить техноголическим несовершенством при копировании.
    
 - Проводить обработку данных с большим разнообразием категорий довольно тяжело и легко запутаться, что может сильно повлиять на конечный результат. Поэтому с помощью функций была проведена категоризация данных для данных о ежемесячном доходе, и получились следующие категории:
    - 0–30000 — `'E'`;
    - 30001–50000 — `'D'`;
    - 50001–200000 — `'C'`;
    - 200001–1000000 — `'B'`;
    - 1000001 и выше — `'A'`.
    
   а для данных о целях кредита - следующие категории:
    
    - `'операции с автомобилем'`,
    - `'операции с недвижимостью'`,
    - `'проведение свадьбы'`,
    - `'получение образования'`.

<u>Анализ полученных результатов</u>
    
  - В полученных от банка данных можно выделить ряд непрезетивных данных, так как представленный по ним объем данных сильно меньше других. К таким нерепрезентавным данным можно отнести:
     - данные о людях, имеющие от 3 до 5 детей;
     - данные о зароботке людей для категорий 'A', 'B', 'E'
  - К репрезентативным данным, по которым далее будут сделаны основные выводы можно отнести:
     - данные о людях, имеющие 1-2 детей, или не имеющие их вовсе;
     - данные о заработке людей от 30 до 200 тысяч рублей;
     - данные о семейном положении;
     - данные о целях кредитования.
    
   1. Влияние наличия детей на вероятность невыплаты кредита:
       - люди, не имеющие детей, имеют меньшую вероятность не выплаты обязательств по кредиту (7,54%)
       - люди, имеющие 1-2 детей, имеют большую вероятность не выплаты обязательств по кредиту (9,3%)
       
   Такие результаты могут быть обусловлены тем, что клиенты с детьми, имеют большую финансовую нагрузку, нежели люди без детей.
  
   2. Влияние семейного положения на вероятность невыплаты кредита:
       - люди, состоящие в браке или имеющие ранее такой опыт, имеют меньшую вероятность не выплаты обязательств по 
    кредиту (6,6-7,5%)
       - люди, никогда не состоявшие в официальном браке, имеют большую вероятность не выплаты обязательств 
       по кредиту (9,3-9,7%)
    
   Такие результаты могут быть обсуловлены тем, что люди состовшие в браке или имеющие такой опыт более финансово стабильны и ответственны по сравнению с клиентами, не состоящие в официальном браке.
    
   3. Влияние заработка на вероятность невыплаты кредита:
       - люди, имеющие доход от 30 до 50 тыс рублей, имеют меньшую вероятность не выплаты обязательств по кредиту (7,06%)
       - люди, имеющие доход от 50 до 200 тыс рублей, имеют большую вероятность не выплаты обязательств по кредиту (8,49%)
    
   Такие результаты, могут быть обусловлены тем, что клиенты с более низким заработком относятся к выплате кредитов более ответственно, так как их финансовое положение не может покрыть еще и выплату штрафов и пеней, вызванных долгами.
    
   4. Влияние целей кредитования на вероятность невыплаты кредита:
       - люди, взявший кредит, нацеленный на создание семьи (свадьба, покупка недвижимости), имеют меньшую вероятность не              выплаты обязательств по кредиту (7,2-7,9%)
       - люди, взявшие потребительский кредит (например, на покупку авто или образование), имеют большую вероятность не выплаты        обязательств по кредиту (9,2-9,3%)
    
   Такие результаты могут быть обусловлены тем, что, например в случае с покупкой автомобиля, клиент не всегда предсказывает дополнительные расходы на содержание, что и увеличивает вероятность просрочить кредит. А кредиты на образование могут брать молодые люди, которые к настоящему времени финансово состоялись недостаточно